
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/DevDirManager/.vs/*
library/DevDirManager/DevDirManager/bin/*
library/DevDirManager/DevDirManager/obj/*

# ignore PowerShell Studio MetaData
DevDirManager/DevDirManager.psproj
DevDirManager/DevDirManager.psproj.bak
DevDirManager/DevDirManager.psprojs
DevDirManager/DevDirManager.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*